<div class="card"  >
    <span class="span">Air Quality</span>
    <div class="div1"><svg height="100" width="100">
        
        <circle cx="45" cy="55" r="45"  fill="#6DD0A5" />
        <text fill="#ffffff" font-size="50" font-family="sans-serif" font-weight="700" x="17" y="68">72</text>
         
      </svg></div> 
    <div class="div4">  
        <div class="group border"><div class="div2">
          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30">
            <path fill="#6DD0A5" opacity="0.7" d="m3.293 11.293 1.414 1.414L11 6.414V20h2V6.414l6.293 6.293 1.414-1.414L12 2.586l-8.707 8.707z"/></svg> 
         
        </div>
        <span class="span1 font">93</span></div>
      <div class="group"><div class="div3">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30">
          <path fill="orange" opacity="0.7" d="M13 17.586V4h-2v13.586l-6.293-6.293-1.414 1.414L12 21.414l8.707-8.707-1.414-1.414L13 17.586z"/></svg> </div>
      <span class="span1 font">61</span></div>  
    
      
</div>
