.span {
    width: 200px;
    height: 24px;
}

.div1 {
    width: 55%;
    height: 60px;
    color: #5448C8;
    font-size: 70px;
    position: relative;
    top: -4px;
    display: flex;
    flex-direction: row;
}

.div10 {
    width: 60px;
    height: 50px;
    font-size: 65px;
    font-weight: 700;
    position: relative;
    top: 25px;
    left: 5px;
}

.div16 {
    width: 40px;
    height: 50px;
    font-size: 22px;
    font-weight: 700;
    position: relative;
    top: 40px;
    left: 15px;
}

.div2 {
    position: relative;
    top: 40px;
    left: 5px;
    width: 60px;
    height: 30px;
}

.div3 {
    color: #b8b7b7;
    font-family: Rota-Regular;
    font-size: 13px;
    position: relative;
    top: 10px;
    left: 5px;
}

.div4 {
    display: flex;
    flex-direction: row;
    width: 200px;
    margin-top: 30px;
}

.span1 {
    color: #726f6f;
    font-size: 25px;
    font-weight: 700;
    position: relative;
    top: 8px;
    left: 5px;
}

.group {
    display: flex;
    flex-direction: column;
    width: 45%;
    height: 50px;
    position: relative;
    top: 0px;
    left: 5px;
}

.border {
    border-right: 2px solid #e7e4e4;
}